<section id="contact-us" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h2>Contact us</h2>
    <p>Whether work with us, looking for answers or would like to solve a problem just let us know</p>
    <div class="split style1">
      <section>
        <form method="post" action="https://formspree.io/hello@tarbase.com">
          <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="5"></textarea>
          </div>
          <ul class="actions">
            <li><a href="" class="button submit">Send Message</a></li>
          </ul>
        </form>
      </section>
      <section>
        <ul class="contact">
          <!-- <li>
            <h3>Address</h3>
            <span>
              Rua Dom Luís I, 3ºfloor<br />
              1200-161 Lisboa<br />
              PORTUGAL
            </span>
          </li> -->
          <li>
            <h3>Email</h3>
            <a href="#">hello@tarbase.com</a>
          </li>
          <li>
            <h3>Jobs</h3>
            <a href="#">jobs@tarbase.com</a>
          </li>
          <li>
            <h3>Social</h3>
            <ul class="icons">
              <li><a href="https://twitter.com/tarbasehq" class="fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
              <li><a href="https://fm.me/tarbase" class="fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://github.com/tarbase" class="fa-github"><span class="label">GitHub</span></a></li>
              <li><a href="https://linkedin.com/company/tarbase" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>
