<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>We unlimit your business potential</h1>
      <p>
        We build and automate galaxies, stars and clouds.<br />
        Get your cloud infrastructure up and running on AWS or Google Cloud with us in no time.
      </p>
      <ul class="actions">
        <li><a href="#what-we-do" class="button highlight scrolly">Learn more</a></li>
        <li><a href="#contact-us" class="button scrolly">Contact us</a></li>
      </ul>
    </div>
    <div id="particles-js"></div>
  </section>
