<script>
  document.addEventListener('DOMContentLoaded', function(){
    Typed.new('.typed', {
      strings: ["BUSINESS", "CLOUD", "DEVOPS", "ARCH.", "TEAM", "PROJECT"],
      showCursor: false,
      backDelay: 3500,
      backSpeed: 100,
      shuffle: false,
      loop: true
    });
  });
</script>

<!-- Intro -->
  <section id="intro" class="wrapper style1 fullscreen fade-up">
    <div class="inner">
      <h1>UNLIMITING YOUR <span class="typed"></span> POTENTIAL</h1>
      <p>
        Building, automating galaxies stars and clouds.<br />
        Get your cloud up and running on AWS or Google Cloud with us in no time.
      </p>
      <ul class="actions">
        <li><a href="#what-we-do" class="button highlight scrolly">Learn more</a></li>
        <li><a href="#contact-us" class="button scrolly">Contact us</a></li>
      </ul>
    </div>
    <div id="particles-js"></div>
  </section>
