<section id="what-we-do" class="wrapper style1">
  <div class="inner">
    <h2>What we do</h2>
    <p>
        We help customers build and deploy scalable cloud infrastructures using Amazon Web Services (AWS).<br />
    </p>
    <div class="features">
      <section>
        <span class="icon major fa-share-alt"></span>
        <h3>Network topology</h3>
        <p>Set up a best practices network topology in your AWS account.</p>
      </section>
      <section>
        <span class="icon major fa-tachometer"></span>
        <h3>Monitoring</h3>
        <p>Set up monitoring and alerting using AWS CloudWatch.</p>
      </section>
      <section>
        <span class="icon major fa-cubes"></span>
        <h3>Docker Cluster</h3>
        <p>Deploy your Docker containers on top of the AWS EC2 Container Service (ECS).</p>
      </section>
      <section>
        <span class="icon major fa-shield"></span>
        <h3>Security</h3>
        <p>Set up security best practices for managing secrets, credentials, and servers. </p>
      </section>
      <section>
        <span class="icon major fa-refresh"></span>
        <h3>Continuous Delivery</h3>
        <p>Set up an automated pipeline to build and deploy code using a self-hosted CI server (e.g. Jenkins) or cloud-based CI service (e.g. CircleCI, or Travis)</p>
      </section>
      <section>
        <span class="icon major fa-database"></span>
        <h3>Relational Database</h3>
        <p>Run MySQL, Postgres, MariaDB, or Amazon Aurora on Amazon’s Relational Database Service (RDS).</p>
      </section>
      <section>
        <span class="icon major fa-rocket"></span>
        <h3>Distributed Cache</h3>
        <p>Run Redis or Memcached clusters using Amazon’s ElastiCache Service.</p>
      </section>
      <section>
        <span class="icon major fa-clock-o"></span>
        <h3>Stateful Server</h3>
        <p>Set up a best-practices deployment of a single, stateful server on top of AWS.</p>
      </section>
    </div>
  </div>
</section>
