<section id="what-we-do" class="wrapper style1">
  <div class="inner">
    <h2>What we do</h2>
    <p>We help customers build and deploy scalable cloud infrastructures on Amazon Web Services (AWS) and Google Cloud Platform (GCP).<br /></p>
    <div class="features">
      <section>
        <span class="icon major fa-share-alt"></span>
        <h3>Network topology</h3>
        <p>Set up a best practices network topology in your public cloud and securely connect it with on-permise systems if needed.</p>
      </section>
      <section>
        <span class="icon major fa-tachometer"></span>
        <h3>Monitoring</h3>
        <p>Set up effective monitoring and alerting mechanisms.</p>
      </section>
      <section>
        <span class="icon major fa-cubes"></span>
        <h3>Docker Cluster</h3>
        <p>Deploy your Docker containers on top of the AWS EC2 Container Service (ECS) or using Kubernetes.</p>
      </section>
      <section>
        <span class="icon major fa-shield"></span>
        <h3>Security</h3>
        <p>Set up security best practices for managing secrets, credentials, and servers.</p>
      </section>
      <section>
        <span class="icon major fa-refresh"></span>
        <h3>Continuous Delivery</h3>
        <p>Set up automated pipelines to build and deploy your code using a self-hosted CI server or a Cloud Native servivce.</p>
      </section>
      <section>
        <span class="icon major fa-database"></span>
        <h3>Relational and non Relational Database</h3>
        <p>We help you migrate live your current database to the cloud. MySQL, PostgreSQL, MariaDB, or Amazon Aurora on RDS. NoSQL are welcome too.</p>
      </section>
      <section>
        <span class="icon major fa-rocket"></span>
        <h3>Cache</h3>
        <p>Run Redis or Memcached clusters using Amazon’s ElastiCache Service.</p>
      </section>
      <section>
        <span class="icon major fa-clock-o"></span>
        <h3>Stateful Server</h3>
        <p>Set up a best-practices deployment of a single, stateful server on top of AWS or GCP.</p>
      </section>
    </div>
  </div>
</section>
